input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border-radius: 50%;
    width: 30px;
    height: 30px;

    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;

    position: relative;
    top: 8px;
}

input:checked {
    border: 10px solid #7ca236;
}

.uk-button {
    border-radius: 6px;
    padding: 0.75rem 3rem;
    border: none;
    cursor: pointer;
}

.uk-button-small {
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.uk-button-primary {
    background-color: #7ca236;
    color: black;

}

.uk-button-primary:hover {
    border: 1px solid black;
    background-color: white;
    color: #7ca236;

}

.uk-button-secondary {
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: lightgray;
    color: black;

}

.uk-button-secondary:hover {
    background-color: black;
    color: white;
}

.uk-button-secondary:active {
    background-color: black;
    color: white;
}

.answered {
    background-color: black;
    color: white;
}

.answeredFalse {
    background-color: #ff0000;
    color: white;
}

.answeredRight {
    background-color: #7ca236;
    color: white;
}

.navToQ1Phone {
    color:blue;
}

.navToQ2Phone {
    color: blue;
}

.navToQ3Phone {
    color: blue;
}

.navToQ4Phone {
    color: blue;
}

.answerSelectedRight {
    background-color: #7ca236;
    color: white;
}

.answerSelectedWrong {
    background-color: #ff0000;
    color: white;
}